@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600");

/* Order: Navbar.jsx, Header.jsx, HomeContent.jsx, Projects.jsx, About.jsx, Contact.jsx, Learn.jsx, SignIn.jsx, SignUp.jsx, Footer.jsx, media queries */

* {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: #302c2c;
outline: 1px solid slategrey;
border-radius: 7px;
}

a{
  text-decoration: none;
}

/* Navbar.js */


/* Header.js */


/* HomeContent.js */


/* Projects.js */


/* SingleProperty.js */


/* About.js */



/* Contact.js */



/* Learn.js */


/* SignIn.jsx */


/* Footer.jsx */


/* media queries */
@media screen and (max-width:1000px){
  .sidebar{
    display: none;
  }
  .single-property-content{
    width: 95%;
  }
}

@media screen and (min-width:903px) {
  .hambtn{
    display: none;
  }
}

@media screen and (max-width:902px) {
  .nav-links{
    display: none;
  }

  .home-content-img img{
    width: 300px;
  }

  .slide-caption{
    margin: auto;
    width: 90%;
  }

  .slide-caption .caption-text{
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .reasons h1{
    line-height: 2rem;
    font-size: 1.5rem;
  }

  .contact-info{
    flex-direction: column;
    width: 80%;
  }
  .process-card:hover{
    transform: none;
    box-shadow: none;
  }
  .card-container .card:hover{
    transform: none;
    box-shadow: none;
  }
  .property-info{
    flex-wrap: wrap;
    width: 75%;
  }
  .property-info .info{
    width: 49.8%;
  }
  .property-info .info:nth-child(-n+2){
    border-bottom: 1px solid #3b3636;
  }
  .gallery img:hover{
    transform: none;
  }
  .property-info .info:hover{
    transform: none;
  }

  /* .home-content{
    justify-content: space-around;
  } */
}

@media screen and (max-width:720px){

  .reasons{
    width: 80%;
  }
  .home-content-img img{
    display: none;
  }
  .foot-div{
    flex-direction: column;
  }
  .foot-div-item1,.foot-div-item2,.foot-div-item3{
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .social-icons{
    justify-content:center;
  }
  .process h1{
    font-size: 1.5rem;
  }
  .slide-caption button{
    font-size: 1.1rem;
    padding: 7px 12px;
  }
  .foot-div-item1 p,.foot-div-item3 .content,.copyright{
    font-size: 0.95rem;
  }
  nav img {
    height: 60px;
    width: 150px;
    margin: 5px;
  }
  .projects-starting,.learn-starting,.about-starting,.contact-starting{
    font-size: 0.95rem;
    height: 150px;
  }
  .card-text h1{
    font-size: 1.4rem;
  }
  .card-text h3{
    font-size: 0.9rem;
  }
  .vision-mission{
    flex-direction: column;
  }
  .vision,.mission{
    width: 85%;
    margin: 10px auto;
  }
  .contact-info{
    width: 90%;
    margin: auto;
    padding: 25px 0;
  }
  .contact-info div{
    margin: 0 0 10px 0;
  }
  .property-image{
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .property-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%)
  }
  .tagname{
    top: 20%;
    left: 10%;
    font-size: 1.1rem;
  }
  .reasons ul{
    padding: 0;
  }
  .property-info{
    width: 90%;
  }
  .single-property-content{
    transform: translateY(-50px);
  }
  .tagname{
    display: none;
  }
  .map{
    width: 500px;
  }
}

@media screen and (max-width:600px){
  .property-info .info{
    width: 100%;
  }
  .single-property-content{
    transform: translateY(-30px);
  }
  .location{
    flex-direction: column;
  }
  .property-desc{
    padding: 0 5px;
  }
  .property-desc h2,.property-location h2,.property-gallery h2{
    font-size: 1.3rem;
  }
  .gallery img{
    width: 300px;
  }
  .property-info .info:nth-child(-n+3){
    border-bottom: 1px solid #3b3636;
  }
  .map{
    width: 300px;
  }
}